.buttonCircle {
    width: 100px;
    height: 100px;
    border-radius: calc(6969 * 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    background-color: black;
}